aiofiles
aiohttp
aiosqlite
asyncio
black
chardet
ipinfo
keyring
pandas
pre-commit
psutil
pyinstaller
pyqtgraph
PySide6
pytest
pytest-asyncio
pytest-cov
pytest-mock
pytest-xvfb
python-dotenv
qasync
requests
