aiofiles
aiohttp~=3.11.13
aiosqlite~=0.21.0
asyncio
black
keyring
chardet~=5.2.0
ipinfo~=5.1.1
pandas~=2.2.3
pre-commit
psutil
pyinstaller
pyqtgraph~=0.13.7
PySide6~=6.9.0
pytest~=8.3.5
pytest-asyncio
pytest-cov
pytest-mock
pytest-xvfb
python-dotenv
qasync
requests
setuptools~=78.0.1
