# This is an example env file to show you how to setup your api_key to work with this program.
# this file isnt going to be used as much since the settings system is in place, only use this when developing this program
# to keep API keys confidential.

WEATHER_API_KEY=your_weather_api_key_here

IP_API_TOKEN=your_ip_api_key_here
